
<section>
<img src="@ViewBag.disco.foto" width="300">
</section>


<h1>@ViewBag.disco.nombreAlbum</h1>
<h3>@ViewBag.disco.artista.Nombre</h3>


@foreach(Cancion cancion in ViewBag.disco.listaCanciones)
{
    <li>@cancion.Nombre - @cancion.Duracion</li>
}

<h4>Productor: @ViewBag.disco.productor.Nombre</h4>



<p><a href='@Url.Action("Index")'>Volver a la página principal </p>

