<img src="/img/@ViewBag.disco.Foto" class="imagen-disco" alt="Foto" width="300" height="auto">
<h1>
@ViewBag.disco.Nombre
</h1>
<h3>
@ViewBag.disco.Artista.Nombre
</h3>
@foreach(Cancion Cancion in ViewBag.disco.Cancion)
{
<li>
 @Cancion.Nombre @Cancion.Duracion
</li>
}
<h4>
@ViewBag.disco.Productor.Nombre
<h4>